

.match-section {
    background-color: transparent;
    color: #333333;
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
    margin-top: 100px;
    margin-bottom: -100px;
}

.match-section > div {
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
}

.match-section h2 {
    color: #333333;
    margin: 0px 0px 30px 0px;
    margin-bottom: 30px;
    padding: 0px 0px 0px 0px;
    font-size: 3.0456em;
    line-height: 1.1;
    font-weight: 800;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.match-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 30px;
    text-align: center;
    max-width: 100%;
}

.match-reverse {
    box-shadow: 3px 4px 8px 0px rgba(0, 0, 0, 0.5);
    background-color: #333333;
    color: #FBF8F1;
}

.match-card {
    transition: 0.3s;
    padding: 25px;
    /* width: 70%; */
    margin-top: 50px;
    border-radius: 15px;
}

.match-grid div {
    padding-right: 18px;
    margin-top: 20px !important;
}

.match-grid div:last-child {
    padding-right: 0;
}

.match-grid .flexCol {
    margin-top: 0px;
}

.match-grid h4 {
    text-align: center;
    color: darkseagreen;
    border-top-color: inherit;
    font-size: 1.278em;
    font-weight: 800;
    line-height: 1.2;
    font-family: 'Montserrat', sans-serif;
}

.headerCenter .match-grid h3 {
    text-align: center;
}

.match-grid .fa {
    margin-bottom: 0px;
    color: #333333;
    font-size: 70px;
}

.match-grid .circle {
    border-radius: 1em;
}

.match-grid .square {
    border-radius: .4em;
}

.match-grid .outline {
    border: .07em solid #333333;
    border-radius: 1em;
    padding: .16em;
    font-size: 3.5em;
}

.match-grid .circle,
.match-grid .square {
    background-color: #333333;
    color: #FBF8F1;
    padding: .18em;
    font-size: 3.5em;
}

.match-reverse .fa {
    color: #FBF8F1;
}

.match-reverse .outline {
    border: .07em solid #FBF8F1;
}

.match-reverse .square,
.match-reverse .circle {
    background-color: #FBF8F1;
    color: #333333;
}

.match-card p {
    font-size: 18px;
    font-family: math;
    line-height: 1.9;
    font-weight: 300;
}

.match-thumbs-up {
    color: darkseagreen;
    border-top-color: inherit;
}

.match-thumbs-down {
    color: indianred;
    border-top-color: inherit;
}



